@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --black: #282C33;
  --grey: #ABB2BF;
  --white: #FFFFFF;
  --primary: #62AEEF;
}

:root {
  --black: #282C33;
  --grey: #ABB2BF;
  --white: #FFFFFF;
  --primary: #62AEEF;
}

.header__nav {
  display: flex;
  gap: 32px;
  justify-content: end;
}
.header__link {
  color: var(--grey);
}
.header__link span {
  color: var(--primary);
}
.header__link._active {
  color: var(--white);
}
.header__link._disabled {
  filter: brightness(60%);
  pointer-events: none;
}

.footer {
  margin-top: 145px;
  border-top: 1px solid var(--white);
  padding: 32px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__mail {
  color: var(--grey);
}
.footer__job {
  color: var(--white);
}
.footer__right {
  display: flex;
  gap: 24px;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}
.footer__link svg {
  width: 100%;
  height: 100%;
}

.global-links {
  position: fixed;
  z-index: 100;
  left: 17px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 200px;
}
.global-links::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 184px;
  background: var(--grey);
}
.global-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.me {
  margin-top: 62px;
}
.me .container {
  display: grid;
  grid-template-columns: 537px 1fr;
  gap: 30px;
}
.me__left {
  margin-top: 74px;
}
.me__title {
  font-size: 32px;
  color: var(--white);
  line-height: 1.2;
  font-weight: 400;
  font-weight: 500;
}
.me__title span {
  color: var(--primary);
}
.me__text {
  color: var(--grey);
  margin-top: 32px;
  line-height: 1.5;
}
.me__link {
  display: inline-block;
  margin-top: 24px;
  padding: 8px 16px;
  border: 1px solid var(--primary);
  color: var(--white);
  font-weight: 500;
}
.me__right {
  position: relative;
}
.me__right img {
  position: relative;
  z-index: 2;
  border-radius: 20%;
  overflow: hidden;
  width: 100%;
}
.me__right .dots {
  position: absolute;
  z-index: 3;
  right: 16px;
  bottom: 56px;
}
.me__right .figura {
  position: absolute;
  left: -52px;
  top: 224px;
}
.me__status {
  position: relative;
  border: 1px solid var(--grey);
  color: var(--grey);
  padding: 8px 8px 8px 34px;
}
.me__status::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  background: var(--primary);
  width: 16px;
  height: 16px;
}

.projects {
  margin-top: 114px;
  position: relative;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  display: inline-block;
}
.projects__title span {
  color: var(--primary);
}
.projects__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
  height: 1px;
  background: var(--primary);
  width: 510px;
}
.projects__link {
  color: var(--white);
}
.projects__cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 16px;
}
.projects__card {
  border: 1px solid var(--grey);
}
.projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.projects__card a img:hover {
  transform: scale(1.2);
}
.projects__card_img {
  height: 200px;
  display: block;
  overflow: hidden;
}
.projects__card_tags {
  padding: 8px;
  color: var(--grey);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}
.projects__card_content {
  padding: 16px;
}
.projects__card_title {
  font-size: 24px;
  color: var(--white);
}
.projects__card_text {
  margin-top: 16px;
  line-height: 1.5;
  color: var(--grey);
}
.projects .square {
  width: 155px;
  height: 155px;
  border: 1px solid var(--grey);
  position: absolute;
  right: -70px;
  bottom: 100px;
}

.skills {
  margin-top: 106px;
  min-height: 365px;
}
.skills .container {
  position: relative;
}
.skills .dots-1 {
  position: absolute;
  top: 92px;
  left: 32px;
}
.skills .dots-2 {
  position: absolute;
  top: 197px;
  left: 209px;
}
.skills .square-1 {
  position: absolute;
  top: 54px;
  left: 260px;
  width: 86px;
  height: 86px;
  border: 1px solid var(--grey);
}
.skills .square-2 {
  position: absolute;
  top: 245px;
  left: 330px;
  width: 52px;
  height: 52px;
  border: 1px solid var(--grey);
}
.skills .figura {
  position: absolute;
  top: 221px;
  left: 47px;
}
.skills__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  display: inline-block;
}
.skills__title span {
  color: var(--primary);
}
.skills__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
  height: 1px;
  background: var(--primary);
  width: 240px;
}
.skills__grid {
  margin-top: 43px;
  display: flex;
  justify-content: end;
  gap: 16px;
}
.skills__column {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex: 0 1 178px;
}
.skills__item {
  border: 1px solid var(--grey);
}
.skills__item_title {
  padding: 8px;
  color: var(--white);
  font-weight: 500;
  border-bottom: 1px solid var(--grey);
}
.skills__item_tags {
  color: var(--grey);
  padding: 8px;
  line-height: 1.5;
}

.about-me {
  margin-top: 112px;
  position: relative;
}
.about-me .container {
  position: relative;
}
.about-me .dots-1 {
  position: absolute;
  z-index: 2;
  top: 59px;
  right: 300px;
}
.about-me .dots-2 {
  position: absolute;
  z-index: 2;
  top: 279px;
  right: -20px;
}
.about-me .dots-3 {
  position: absolute;
  top: 303px;
  right: -23px;
}
.about-me .square {
  width: 155px;
  height: 155px;
  border: 1px solid var(--grey);
  transform: translateX(-50%);
  position: absolute;
  top: 134px;
  left: 0;
}
.about-me__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  display: inline-block;
}
.about-me__title span {
  color: var(--primary);
}
.about-me__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
  height: 1px;
  background: var(--primary);
  width: 326px;
}
.about-me__grid {
  display: grid;
  grid-template-columns: 515px 340px;
  justify-content: space-between;
}
.about-me__text {
  flex: 515px;
  margin-top: 23px;
  color: var(--grey);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-me__link {
  margin-top: 27px;
  border: 1px solid var(--primary);
  height: 37px;
  padding: 0 16px;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.about-me__img {
  -webkit-mask-image: url("../img/295454677238211 (1).png");
          mask-image: url("../img/295454677238211 (1).png");
  -webkit-mask-position: 50%;
          mask-position: 50%;
  -webkit-mask-size: 190%;
          mask-size: 190%;
}
.about-me__img img {
  width: 100%;
}

.contacts {
  margin-top: 112px;
  position: relative;
}
.contacts .dots {
  position: absolute;
  top: 94px;
  left: 0;
  transform: translateX(-50%);
}
.contacts__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  display: inline-block;
}
.contacts__title span {
  color: var(--primary);
}
.contacts__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
  height: 1px;
  background: var(--primary);
  width: 127px;
}
.contacts__flex {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.contacts__text {
  flex: 0 1 505px;
}
.contacts__links {
  flex: 0 1 204px;
  padding: 16px;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts__link-title {
  font-weight: 600;
  color: var(--white);
  margin-bottom: 8px;
}
.contacts__link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grey);
}

.wrapper {
  font-family: "Fira Code";
  background: var(--black);
  min-height: 100%;
  padding: 32px 0;
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.dots,
.dots-1,
.dots-2,
.dots-3,
.square,
.square-1,
.square-2,
.figura {
  pointer-events: none;
}