@mixin title($width) {
	font-size: 32px;
	font-weight: 500;
	color: var(--white);
	position: relative;
	display: inline-block;

	span {
		color: var(--primary);
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: calc(100% + 16px);
		transform: translateY(-50%);
		height: 1px;
		background: var(--primary);
		width: $width;
	}
}

.global-links {
	position: fixed;
	z-index: 50;
	left: 17px;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;

	padding-top: 200px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 1px;
		height: 184px;
		background: var(--grey);
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (max-width: 1200px) {
		display: none;
	}
}

.me {
	.container {
		display: grid;
		grid-template-columns: minmax(auto, 537px) auto;
		gap: 30px;
	}

	&__left {
		margin-top: 74px;
	}

	&__title {
		font-size: 32px;
		color: var(--white);
		line-height: 1.2;
		font-weight: 400;
		font-weight: 500;

		span {
			color: var(--primary);
		}
	}

	&__text {
		color: var(--grey);
		margin-top: 32px;
		line-height: 1.5;
	}

	&__link {
		display: inline-block;

		margin-top: 24px;
		padding: 8px 16px;

		border: 1px solid var(--primary);
		color: var(--white);
		font-weight: 500;
	}

	&__image {
		position: relative;
		aspect-ratio: 1;
	}

	&__right {
		position: relative;

		img {
			position: relative;
			z-index: 2;
			width: 100%;
		}

		.dots {
			position: absolute;
			z-index: 3;
			right: 2%;
			bottom: 14%;

			width: 18%;
			height: 18%;
		}

		.figura {
			width: 34%;
			height: 34%;
			position: absolute;
			left: -15%;
			top: 50%;
		}
	}

	&__status {
		position: relative;
		border: 1px solid var(--grey);
		color: var(--grey);
		padding: 8px 8px 8px 34px;
		transition: 0.2s;

		&:hover {
			border: 1px solid var(--primary);
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 8px;
			transform: translateY(-50%);
			background: var(--primary);
			width: 16px;
			height: 16px;
		}
	}

	@media (max-width: 1000px) {
		&__status {
			font-size: 14px;
		}
	}

	@media (max-width: 800px) {
		&__text {
			margin-top: 16px;
		}
	}

	@media (max-width: 700px) {
		.container {
			display: flex;
			//flex-direction: column;
		}

		&__left {
			margin: 0;
		}

		&__status {
			font-size: 16px;
		}

		.figura {
			left: -0%;
			top: 30%;
		}

		.figura,
		.dots {
			display: none;
		}
	}

	@media (max-width: 550px) {
		.container {
			gap: 24px;
		}

		&__status {
			font-size: 14px;
		}
	}
}

.projects {
	margin-top: 114px;
	position: relative;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		@include title(510px);
	}

	&__link {
		color: var(--white);
	}

	&__cards {
		margin-top: 48px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}

	&__card {
		border: 1px solid var(--grey);
		transition: 0.2s;

		&:hover {
			border: 1px solid var(--primary);

			.projects__card_tags {
				border-top: 1px solid var(--primary);
				border-bottom: 1px solid var(--primary);
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.2s;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 40px;
			height: 40px;

			opacity: 0;
			visibility: hidden;
			transition: 0.2s;
			z-index: 2;

			path {
				stroke: white;
			}
		}

		&_img {
			aspect-ratio: 330/200;
			display: block;

			overflow: hidden;

			position: relative;
		}

		a {
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					img {
						filter: brightness(50%);
					}

					svg {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&_tags {
			padding: 8px;

			color: var(--grey);
			transition: 0.2s;
			border-top: 1px solid var(--grey);
			border-bottom: 1px solid var(--grey);
		}

		&_content {
			padding: 16px;
		}

		&_title {
			font-size: 24px;
			color: var(--white);
		}

		&_text {
			margin-top: 16px;
			line-height: 1.5;
			color: var(--grey);
		}
	}

	.square {
		width: 155px;
		height: 155px;
		border: 1px solid var(--grey);

		position: absolute;
		right: -70px;
		bottom: 100px;

		@media (max-width: 1300px) {
			display: none;
		}
	}

	@media (max-width: 1023px) {
		margin-top: 80px;

		&__cards {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 30px;
		}
	}

	@media (max-width: 767px) {
		margin-top: 40px;

		&__cards {
			margin-top: 16px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__card_content {
			padding: 12px;
		}

		&__card_text {
			margin-top: 8px;
		}
	}
}

.skills {
	margin-top: 106px;
	min-height: 365px;

	.container {
		position: relative;
	}

	.dots-1 {
		position: absolute;
		top: 92px;
		left: 32px;
	}

	.dots-2 {
		position: absolute;
		top: 197px;
		left: 209px;
	}

	.square-1 {
		position: absolute;
		top: 54px;
		left: 260px;

		width: 86px;
		height: 86px;
		border: 1px solid var(--grey);
	}

	.square-2 {
		position: absolute;
		top: 245px;
		left: 330px;

		width: 52px;
		height: 52px;
		border: 1px solid var(--grey);
	}

	.figura {
		position: absolute;
		top: 221px;
		left: 47px;
	}

	&__title {
		@include title(240px);
	}

	&__grid {
		margin-top: 43px;
		display: flex;
		justify-content: end;
		gap: 16px;
	}

	&__column {
		display: flex;
		gap: 16px;
		flex-direction: column;
		flex: 0 1 178px;
	}

	&__item {
		border: 1px solid var(--grey);
		transition: 0.2s;

		&:hover {
			border: 1px solid var(--primary);

			.skills__item_title {
				border-bottom: 1px solid var(--primary);
			}
		}

		&_title {
			padding: 8px;
			color: var(--white);
			font-weight: 500;
			border-bottom: 1px solid var(--grey);
			transition: 0.2s;
		}

		&_tags {
			color: var(--grey);
			padding: 8px;
			line-height: 1.5;
		}
	}

	@media (max-width: 1023px) {
		margin-top: 80px;
		min-height: 0;

		&__grid {
			justify-content: start;
			flex-wrap: wrap;
		}

		&__column {
			flex: 0 1 auto;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.figura,
		.dots-1,
		.dots-2,
		.square-1,
		.square-2 {
			display: none;
		}
	}

	@media (max-width: 1023px) {
		&__grid {
			margin-top: 30px;
		}
	}

	@media (max-width: 767px) {
		&__grid {
			margin-top: 16px;

		}

		margin-top: 40px;
	}
}

.about-me {
	margin-top: 112px;
	position: relative;

	.container {
		position: relative;
	}

	.dots-1 {
		position: absolute;
		z-index: 2;
		top: 0px;
		left: -5%;

		@media (max-width: 880px) {
			display: none;
		}
	}

	.dots-2 {
		position: absolute;
		z-index: 2;
		bottom: -20px;
		right: -20px;

		@media (max-width: 880px) {
			display: none;
		}
	}

	.dots-3 {
		position: absolute;
		top: 303px;
		right: -23px;

		@media (max-width: 1600px) {
			display: none;
		}
	}

	.square {
		width: 155px;
		height: 155px;
		border: 1px solid var(--grey);
		transform: translateX(-50%);
		position: absolute;
		top: 134px;
		left: 0;

		@media (max-width: 1300px) {
			display: none;
		}
	}

	&__title {
		@include title(326px);
	}

	&__grid {
		display: grid;
		grid-template-columns: 515px 340px;
		justify-content: space-between;
	}

	&__text {
		flex: 515px;

		margin-top: 23px;
		color: var(--grey);
		line-height: 1.5;

		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__link {
		margin-top: 27px;
		border: 1px solid var(--primary);
		height: 37px;
		padding: 0 16px;
		color: var(--white);

		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__img {
		position: relative;
		aspect-ratio: 1;
		display: none;


		img {
			overflow: hidden;
			border-radius: 40% 20%;
			width: 100%;
		}
	}

	@media (max-width: 1023px) {
		margin-top: 80px;

		&__grid {
			grid-template-columns: 1fr;

			gap: 40px;
		}

		&__img {
			max-width: 400px;
		}
	}

	@media (max-width: 767px) {
		margin-top: 40px;

		&__text {
			margin-top: 16px;
		}

		&__grid {
			gap: 20px;
		}
	}
}

.contacts {
	margin-top: 112px;
	position: relative;

	.dots {
		position: absolute;
		top: 94px;
		left: 0;
		transform: translateX(-50%)
	}

	&__title {
		@include title(127px);
	}

	&__flex {
		margin-top: 45px;
		display: flex;
		justify-content: space-between;
	}

	&__text {
		flex: 0 1 505px;
	}

	&__links {
		flex: 0 1 204px;
		padding: 16px;
		border: 1px solid var(--grey);

		transition: 0.2s;

		display: flex;
		flex-direction: column;
		gap: 8px;

		&:hover {
			border: 1px solid var(--primary);
		}
	}

	&__link-title {
		font-weight: 600;
		color: var(--white);
		margin-bottom: 8px;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--grey);
	}

	@media (max-width: 1023px) {
		margin-top: 80px;

		&__flex {
			margin-top: 30px;
		}
	}

	@media (max-width: 880px) {
		.dots {
			display: none;
		}
	}

	@media (max-width: 767px) {
		margin-top: 40px;

		&__flex {
			margin-top: 16px;
		}
	}
}